  <h3><%= @menu.meal %> Menu</h3>
  <h4>Hours: <%= time_display(@menu) %> </h4>
  <% admin_only do %>
  <h5>
  <%= link_to "New Item", new_menu_item_path(@menu) %> |
    <%= link_to "New Category", new_menu_category_path(@menu) %>
  </h5>
  <% end %> 
  <div class="row">
    <div class="col-md-9">
      <h4>Menu</h4>
      <% @categories.each do |category| %>
      <%= render "category", category: category %>
      <% end %>
    </div>
    <div class="col-md-3">
      <h4>Categories</h4>
      <% @menu.categories.each do |c| %>
      <h4><%= link_to c.name, menu_category_path(@menu, c) %></h4>
      <% end %>
      <%= image_tag "tacos.jpg" %>
    </div>
  </div>
